<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Este es el archivo HTML</h1>
  <button>Crear mensaje</button>

  <script type="text/javascript">
    // llamados AJAX al servidor
    // Single Page Applications (SPA's)

    fetch("/messages")
      .then(response => response.json())
      .then(data => console.log(data));

    document.querySelector("button").addEventListener("click", function() {
      fetch("/messages", {
        headers: {
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({ message: "Mensaje 4", sender: "Germán Escobar" })
      });
    });
  </script>
</body>
</html>
